.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bg-1 { 
    background-color: #faf5f2; /* 넷플릭스배경 */
    color: #555555;
}
      
@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}